/*!
 * Theme Name: IVN Base Theme
 * Author: Ivision
 * Author URI: ivision.pl
 * Version: 0.1
 */

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */

.mfp-arrow,
.slick-slider,
html {
	-webkit-tap-highlight-color: transparent
}
audio:not([controls]),
hr {
	height: 0
}
address,
dl,
ol,
p,
pre,
ul {
	margin-bottom: 1rem
}
img,
legend {
	border: 0
}
.btn,
img {
	vertical-align: middle
}
.carousel-inner,
.collapsing,
.dropdown-divider,
.embed-responsive,
.modal,
.modal-open,
.progress,
.sr-only,
svg:not(:root) {
	overflow: hidden
}
.dropdown-menu,
.tooltip,
body,
caption {
	text-align: left
}
.dropdown-item,
th {
	text-align: inherit
}
dd,
label {
	margin-bottom: .5rem
}
button,
hr,
input {
	overflow: visible
}
pre,
textarea {
	overflow: auto
}
article,
aside,
details,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
legend,
main,
menu,
nav,
section,
summary {
	display: block
}
audio,
canvas,
progress,
sub,
sup,
video {
	vertical-align: baseline
}
audio,
canvas,
label,
output,
progress,
video {
	display: inline-block
}
[hidden],
audio:not([controls]),
template {
	display: none
}
.btn-group-vertical,
.form-inline,
.navbar-expand,
.navbar-nav {
	-webkit-box-direction: normal
}
h1 {
	margin: .67em 0
}
dl,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
pre,
ul {
	margin-top: 0
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0
}
.popover,
.tooltip,
address {
	font-style: normal
}
.alert-link,
.badge,
.close,
dt,
kbd kbd,
optgroup {
	font-weight: 700
}
button,
html input[type=button],
input[type=reset],
input[type=submit] {
	-webkit-appearance: button;
	cursor: pointer
}
button[disabled],
html input[disabled] {
	cursor: default
}
button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	height: auto
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	box-sizing: content-box
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
	-webkit-appearance: none
}
table {
	border-spacing: 0;
	border-collapse: collapse
}
td,
th {
	padding: 0
}